body{
    padding: 14%;
    font-size: 20px;
    color: rgb(144, 32, 32)
}
main{
    text-decoration: underline ;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
    text-indent: 4em;
}
#a{
    line-height: 29px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 400;
    font-style: oblique;  

}




/* form{
    font-inherit;
}
 */