*{
    padding: 0;
    margin: 0;
}
body{
     background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg1.png);;
}
h2 a{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-style: italic;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Container{
   padding: 10px;
   margin: 0 auto;
    max-width:1100px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
.v-stretch{
    grid-row: span 2;
}
img:hover{
    background: rgb(251, 191, 147);
    opacity: 0.5;
}

.h-stretch{
    grid-column: span 2;
}
.big-stretch{
    grid-row: span 2;
    grid-column: span 2;
}
.Container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 560px)
{
    .v-stretch{
        grid-row: span 1;
    }
    .h-stretch{
        grid-column: span 1;
    }
    .big-stretch{
        grid-row: span 1;
        grid-column: span 1;
    }
}